{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
      <ol>
          <li><a href="https://www.gov.uk">Home</a></li>
          <li><a href="../index.html">Visas and immigration</a></li>
          <li>Stay in the UK</li>
      </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Check I qualify for Long Residence
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>you need to do this in order to do something else</li>
      </uL>

      <p>Checking takes around 5 minutes.</p>

      <p>
        <a class="button button-start" href="/check/1.html" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>x</a></p>

      <p>y</a></p>

      <p>z</p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
