{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
            {% include "includes/phase_banner_alpha.html" %}


    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li><a href="/index.html">Visas and immigration</a></li>
            <li><a href="/come_to_the_uk.html">Come to the UK</a></li>
            <li><a href="/task/index.html">Visit the UK</a></li>
            <li class="breadcrumb-for-current-page">Consider seeking advice from a legal representative</li>
        </ol>
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task/index.html">Back</a>

            <h1 class="heading-large">
                Consider seeking advice from a legal representative
            </h1>

            <p>You are likely to find all the information you need to prepare and apply for your visa on this website.</p>

            <p>You may wish to consider asking for a legal representative to help you if:</p>

            <ul class="list list-bullet">
                <li>you’re unsure about how to apply</li>
                <li>you prefer to get specialist help with your application</li>
                <li>your personal circumstances are complicated</li>
                <li>you need assistance with your documentation</li>
            </ul>

            <p>If you decide to seek advice from a legal representative, choose a <a href="https://www.gov.uk/find-an-immigration-adviser">regulated immigration adviser</a>. </p>

        </div>
    </div>
</main>

{% endblock %}
