{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task">Back</a>

            <h1 class="heading-large">
                Check how long you’ve been in the UK
            </h1>

            <p>You can apply to stay in the UK permanently based on long residence if you:</p>

            <ul class="list list-bullet">
                <li>are legally resident in the UK</li>
                <li>have lived in the UK for 10 continuous years</li>
                <li>have been legally resident in the UK for 10 years</li>
            </ul>

            <p>Staying permanently in the UK (also known as ‘indefinite leave to remain’) means you can live in the UK without any time or work restrictions.</p>

        </div>
    </div>
</main>

{% endblock %}
