{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task">Back</a>

            <h1 class="heading-large">
                Check whether your time in the UK counts as continuous residence
            </h1>

            <p>To stay in the UK based on long residence, your time in the UK must be continuous.</p>

            <p>Continuous residence means you have not left the UK for:</p>

            <ul class="list list-bullet">
                <li>more than 180 days at a time</li>
                <li>more than 540 days in total</li>
            </ul>

            <p>Your 10-year qualifying period for long residence starts either when:</p>

            <ul class="list list-bullet">
                <li>you first arrived in the UK with a visa</li>
                <li>you were first given permission to stay in the UK</li>
            </ul>

            <p>You can’t count time spent in:</p>

            <ul class="list list-bullet">
                <li>a prison, young offender’s institution or secure hospital</li>
                <li>the Republic of Ireland, Isle of Man or Channel Islands</li>
            </ul>

        </div>
    </div>
</main>

{% endblock %}
