{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task">Back</a>

            <h1 class="heading-large">
                Check the visas you’ve held
            </h1>

            <p>You must have held valid visas or had the right to be in the UK for the full 10 years of your residence in the UK.</p>

            <p>You must have kept to the terms of all your visas, for example not taking up work if a visa did not allow you to work.</p>

            <div class="panel panel-border-wide">
              <p>
                I You’ll need to show proof of all the visas you’ve held covering your time in the UK.
              </p>
            </div>

        </div>
    </div>
</main>

{% endblock %}
