{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task">Back</a>

            <h1 class="heading-large">
                Consider seeking advice from a legal representative
            </h1>

            <p>You are likely to find all the information you need to prepare and apply for your long residence visa on this website.</p>

            <p>You may wish to consider asking for a legal representative to help you if:</p>

            <ul class="list list-bullet">
                <li>you’re unsure about how to apply</li>
                <li>you prefer to get specialist help with your application</li>
                <li>your personal circumstances are complicated</li>
                <li>you need assistance with your documentation</li>
            </ul>

            <p>If you decide to seek advice from a legal representative, first check whether they are a <a href="https://www.gov.uk/government/publications/how-to-become-a-regulated-immigration-adviser/how-to-become-a-regulated-immigration-adviser">regulated immigration adviser</a>.</p>

        </div>
    </div>
</main>

{% endblock %}
