{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task">Back</a>

            <h1 class="heading-large">
                Take the Life in the UK Test
            </h1>

            <p>You need to take the test as part of your application to stay in the UK.</p>

            <p>The test costs £50 and you must sit it at any 5 of the UK test centres closest to where you live.</p>

            <h3 class="heading-medium">Prepare for the test</h3>

            <p>You’ll be tested on information in the <a href="https://www.tsoshop.co.uk/Life-in-the-UK/Life-in-the-United-Kingdom-A-Guide-for-New-Residents/?TrackID=002353">official handbook for the Life in the UK Test</a> - you should study this book to prepare for the test.</p>

            <p>You’ll have 45 minutes to answer 24 questions about British traditions and customs.</p>

            <h3 class="heading-medium">Book the test</h3>

            <p>You need all the following to book a test:</p>

            <ul class="list list-bullet">
                <li>email address</li>
                <li>debit or credit card</li>
                <li>an accepted form of ID</li>
            </ul>

            <a class="button button-start" href="https://www.lituktestbooking.co.uk/lituk-web/" role="button">Book now</a>

        </div>
    </div>
</main>

{% endblock %}
