{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task">Back</a>

            <h1 class="heading-large">
                Prove your knowledge of English
            </h1>

            <p>You might need to prove your knowledge of the English language if you’re aged 18 to 64 and applying to stay in the UK.</p>

            <p>You can prove it by having either:</p>
            
            <ul class="list list-bullet">
                <li>an English qualification at B1, B2, C1 or C2 level</li>
                <li>a degree taught or researched in English</li>
            </ul>
            
            <p>You don’t need to prove your knowledge of English in certain circumstances.</p>

            <p>You can use a B1 level qualification that’s run out if both of the following are true:</p>
            
            <ul class="list list-bullet">
                <li>it’s on the current list of recognised tests</li>
                <li>it was accepted for another UK immigration application, for example when you got permission to enter</li>
            </ul>
            
            <p>You can only use English for Speakers of Other Languages (ESOL) qualifications if the course provider is on the <a href="https://www.gov.uk/government/publications/guidance-on-applying-for-uk-visa-approved-english-language-tests">approved list</a>.</p>
            
            <p>You can’t use other qualifications, for example GCSEs, A levels or National Vocational Qualifications (NVQs).</p>
            
        </div>
    </div>
</main>

{% endblock %}
