{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task">Back</a>

            <h1 class="heading-large">
                Read the immigration rules for long residence 
            </h1>

            <p>Make sure that you have read and understood the <a href="https://www.gov.uk/guidance/immigration-rules/immigration-rules-part-1-leave-to-enter-or-stay-in-the-uk ">immigration rules</a> for long residence before applying.</p>

            <p>You may wish to <a href="/task/1_4_legal_advice">get help from a legal representative</a> who can:</p>
            
            <ul class="list list-bullet">
                <li>explain the rules</li>
                <li>apply the rules to your personal circumstances</li>
                <li>help with your application</li>
            </ul>
            
        </div>
    </div>
</main>

{% endblock %}