{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task">Back</a>

            <h1 class="heading-large">
                Get Residence documents
            </h1>

            <p>You’ll need a certified translation of any documents that aren’t in English or Welsh.</p>

            <ul class="list list-bullet">
                <li>your biometric residence permit (if you have one)</li>
                <li>your police registration document (if you have one)</li>
                <li>any Home Office letters or other documents that confirm your right to stay in or enter the UK</li>
            </ul>

        </div>
    </div>
</main>

{% endblock %}
