{% extends "layout.html" %} {% block page_title %} Question page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/task">Back</a>

            <h1 class="heading-large">
                Get Identity documents
            </h1>

            <p>You’ll need a certified translation of any documents that aren’t in English or Welsh</p>

            <ul class="list list-bullet">
                <li>doctor’s letters showing your registration and letters from hospitals or local health services</li>
                <li>council tax letters or bills</li>
                <li>gas, electricity, water and other household bills or statements</li>
                <li>National insurance contribution records or P60s</li>
                <li>HM Revenue and Customs (HMRC) letters or P60s showing the income tax you’ve paid</li>
                <li>employers’ letters confirming your employment dates</li>
                <li>full birth certificates</li>
                <li>Department for Work and Pensions (DWP) or other government departments or agencies letters and documents</li>
                <li>any other documents to support your application</li>
            </ul>

        </div>
    </div>
</main>

{% endblock %}