{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block service_name %} {% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Stay in the UK
      </h1>

      <p>Complete the tasks below:</p>

      <ol class="task-list">

        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Check before you start 
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
                Check how long you’ve been in the UK
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                Check whether your time in the UK counts as continuous residence
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                Check the visas you’ve held
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                Consider seeking advice from a legal representative
              </a>
            </li>
          </ul>
        </li>

          <li>
            <h2 class="task-list-section">
              <span class="task-list-section-number">2. </span> Prepare your application
            </h2>
            <ul class="task-list-items">
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Take the Life in the UK Test
                </a>
              </li>
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Prove your knowledge of English
                </a>
              </li>
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Read the immigration rules for long residence
                </a>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="task-list-section">
              <span class="task-list-section-number">3. </span> Prepare your documents
            </h2>
            <ul class="task-list-items">
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Get Identity documents
                </a>
              </li>
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Get Residence documents
                </a>
              </li>
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Get Continuous residence documents
                </a>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="task-list-section">
              <span class="task-list-section-number">4. </span> Submit your application
            </h2>
            <ul class="task-list-items">
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Fill in the form
                </a>
              </li>
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Provide payment information
                </a>
              </li>
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Add your documents
                </a>
              </li>
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Send the form and documents with payment
                </a>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="task-list-section">
              <span class="task-list-section-number">4. </span> Wait for us to ask you to:
            </h2>
            <ul class="task-list-items">
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Provide your biometrics
                </a>
              </li>
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Provide more details to support your application
                </a>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="task-list-section">
              <span class="task-list-section-number">5. </span> See what’s happening with your application
            </h2>
            <ul class="task-list-items">
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Track your application
                </a>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="task-list-section">
              <span class="task-list-section-number">6. </span> Use your application
            </h2>
            <ul class="task-list-items">
              <li class="task-list-item">
                <a class="task-name" href="#">
                  Visa rules
                </a>
              </li>
            </ul>
          </li>
        </li>

      </ol>

    </div>
  </div>
</main>

{% endblock %}
