{% extends "layout.html" %}

{% block page_title %}
  UKVI services on GOV.UK
{% endblock %}

{% block service_name %} {% endblock %}


{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        UKVI services on GOV.UK
      </h1>
      <p>
        Creating a simpler way of routing users to the service or information they need online.
      </p>

      <h2 class="heading-medium">List of stages</h2>

			<ul class="list list-bullet">
				<li><a href="/navigation">Improved navigation</a></li>
        <li><a href="http://localhost:8080/prototype_one/start">Check my visa options (questions)</a></li>
        <li><a href="http://localhost:8080/prototype_two/visa_list">Check my visa options (filter)</a></li>
        <li><a href="/check">Check whether you qualify for a visa</a></li>
        <li><a href="/task">Stay in the UK task list</a></li>

			</ul>

    </div>
  </div>
</main>

{% endblock %}
