{% extends "layout.html" %} {% block page_title %} Visas and immigration - GOV.UK {% endblock %} {% block service_name %} {% endblock %} {% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li>Visas and immigration</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds" style="margin-bottom:35px;">

            <h1 class="heading-large">
                Visas and immigration
            </h1>

            <p>Find out about visa options and how to apply, how to claim asylum, immigration appeals and work sponsorship.</p>

        </div>
    </div>

    <div class="grid-row" style="margin-bottom:45px;">
        <div class="column-third">

            <h2 class="bold-medium"><a href="#">Come to the UK</a></h2>

            <p>Apply to come to the UK if you live outside of the UK.</p>

        </div>
        <div class="column-third">

            <h2 class="bold-medium"><a href="navigation/stay">Stay in the UK</a></h2>

            <p>Apply to stay in the UK if you are in the UK legally.</p>

        </div>
        <div class="column-third">

            <h2 class="bold-medium"><a href="#">Manage your application</a></h2>

            <p>Visa processing times, biometric information, premium services, report a change.</p>

        </div>
    </div>

    <div class="grid-row" style="margin-bottom:45px;">

        <div class="column-third">

            <h2 class="bold-medium"><a href="#">Asylum</a></h2>

            <p>Claiming asylum as a refugee, the asylum process and support.</p>

        </div>
        <div class="column-third">

            <h2 class="bold-medium"><a href="#">Immigration appeals and legal advice</a></h2>

            <p>Appeal against a visa, settlement or asylum decision, legal advice.</p>

        </div>
        <div class="column-third">

            <h2 class="bold-medium"><a href="#">Sponsor workers or students</a></h2>

            <p>Licences and certificates of sponsorship for employers and universities and colleges.</p>

        </div>
    </div>

</main>

{% endblock %}
