{% extends "layout.html" %} {% block page_title %} Stay in the UK - GOV.UK {% endblock %} {% block service_name %} {% endblock %} {% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li><a href="../index.html">Visas and immigration</a></li>
            <li>Stay longer in the UK</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds" style="margin-bottom:35px;">

            <h1 class="heading-large">
                Stay longer in the UK
            </h1>

            <p>Find out how to stay longer in the UK based on your circumstances or go direct to the visa you want to apply.</p>

        </div>
    </div>

    <div class="grid-row" style="margin-bottom:45px;">
        <div class="column-third">

            <h2 class="bold-medium"><a href="http://localhost:8080/prototype_one/start">Check my visa options</a></h2>

            <p>Tell us more about your circumstances, understand your options and make your choice.</p>

        </div>
        <div class="column-third">

            <h2 class="bold-medium"><a href="/stay-in-the-uk/i-know-the-visa-i-want.html">I know the visa I want</a></h2>

            <p>Tell us which visa you’d like and apply for it.</p>

        </div>
    </div>

</main>

{% endblock %}
